.intro-title {
  color: #f97316;
}

.feature-card {
  position: relative;
}
.intro-paragraph {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  color: #444;
  margin-bottom: 1.5rem;
  line-height: 1.8;
  text-align: center;
}

@media (max-width: 768px) {
  .feature-card {
    padding: 2rem 1.5rem;
  }

  .intro-paragraph {
    text-align: center !important;
  }
}
