
.landing-btn {
  background: #ff8c00;
  color: white;
  transition: 0.3s ease;
}

.sub-header {
  color: white;
}

.landing-btn:hover {
  background: #e67a00;
  transform: translateY(-2px);
}


/* Subtle fade animations */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeUp {
  animation: fadeUp 0.9s ease forwards;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}
